<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>
      Apprendre les kanas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="secondary">
  <ion-card color="light" margin-bottom>
    <ion-card-header>
      <ion-card-title>Type de kanas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-segment [(ngModel)]="typeKanas">
        <ion-segment-button value="hiragana" checked>
          <ion-label>Hiraganas<br>ひらがな</ion-label>
        </ion-segment-button>
        <ion-segment-button value="katakana">
          <ion-label>Katakanas<br>カタカナ</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-card-content>
  </ion-card>

  <ion-card color="light" margin-bottom>
    <ion-card-header>
      <ion-card-title>Sens de jeu</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-segment [(ngModel)]="sensJeu">
        <ion-segment-button value="kana-romaji" checked>
          <ion-label>Kanas &rarr; Romajis</ion-label>
        </ion-segment-button>
        <ion-segment-button value="romaji-kana">
          <ion-label>Romaji &rarr; Kanas</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-card-content>
  </ion-card>

  <ion-card color="light" margin-bottom>
    <ion-card-header>
      <ion-card-title>Nombre de questions</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-input [(ngModel)]="nbQuestions" margin type="number" placeholder="Nombre de questions"></ion-input>
    </ion-card-content>
  </ion-card>

  <div text-center>
    <ion-button (click)="play()" color="tertiary">Jouer</ion-button>
  </div>
</ion-content>
